*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}



ul li{
    list-style: none;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}

/* marign bottam change according to font size */
p,li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h1,h2,h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}



html{
    font-size:62.5% ;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.7;
}
.header{
    height: 95vh;
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url('https://wallpaperaccess.com/full/271965.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    color: white;
    font-weight: 400;
}





/* utility */
.lg-heading{
    font-size: 6.5rem;
}

.md-heading{
    font-size: 4.2rem;
}

.text-red{
    color: #e63946;
}

.text-light{
    color: #ed4264;
    

}

.text-black{
    color:rgb(10, 10, 10);
}

.text-grey{
    color:#555;
}

.nav-bar a:link,
.nav-bar a:visited{
  color:azure
}


.container{
    max-width: 1200px;
    width: 70%;
    margin: 0 auto;
}

.nav-bar a:hover{
    border-bottom:1px solid white;
}


.nav-bar a{
    padding-bottom: 0.3rem;
}


.nav-bar{
    
    padding: 1rem;
}
.header .logo{
    float: left;
    font-size: 3.5rem;
}
.header .nav-bar .nav-items{
    float: right;
    margin-top: 1rem;
    padding-right: 20rem;
    margin-left: 20rem;
}
/* float uses destroy navbar size so we use this to reback it */
.nav-bar::after{
    content: "";
    display: block;
    clear: both;
}

.header .nav-bar .nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
    margin-left: 17px;

}

.header-content h1{
    text-transform: uppercase;
    font-weight: 500;
}


.header-content p{
    text-transform: uppercase;

}

.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin:0.5em 0;
}

.btn-primary{
    background-color: aliceblue;
    color: rgb(218, 39, 39);
    border-radius: 100px;
}


.header-content{
    
    position: absolute;
    top: 70%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}




/* Showcase styling */
.showcase{
    background-color: rgb(220, 230, 209);
    padding: 14rem 0;
}

.row{
    height: 350px;
    box-shadow:12px 12px 20px 0px #aaa;
    
}
.row1{
    margin-bottom: 10rem;
}

.row1 .img-box, .row2 .text-box{
    float:left;
    width:50%;
}

.row2 .img-box, .row1 .text-box{
    float:right;
    width:50%;
}

.row .img-box{
    
    height: 100%;
}
.row .text-box{
    
    
    padding: 3rem;
}

.row .img-box img{
    display: inline-block;
    width: 100%;
    object-fit: cover;
}

.btn-secondary{
    border-radius: 100px;
    border-color: #e63946;
    background-color: aliceblue;
    color: #e63946;
    margin-left: 4px;
    font-size: large;
    
}

.btn-primary:hover,.btn-secondary:hover{
    background-color: black;
    
}

.check{
    display: inline-block;
    width: 30%;
    margin-left: 8px;
}

.shows{
 background-color: antiquewhite;
 margin-left: 9px;
 
}